export('miniCofactorReport')
export('createFPWM')
export('plotFPWM')
export('writeFPWM')
export('extractEnrichment')
export('importChromSizes')
export('loadChromFile')
export('loadChromSizes')
export('shuffle')
import('TFregulomeR')
import('ggplot2')
importFrom(magrittr, "%>%")
import('gridExtra')
import('gridGraphics')
import('ggseqlogo')
import('GenomicRanges')
import('IRanges')
import('S4Vectors')
import('cowplot')
import('grid')
#import('dplyr')

